.title {
  background-color: bisque;
  color: white;
  text-align: center;
  font-size: 65px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  font-size: 35px;
}

ul {
  font-size: 20px;
  color: bisque;
}

p {
  font-size: 20px;
  color: chartreuse;
}
